
#navbar-dec {
  width: 210px;
  background-color: rgb(244, 244, 244);
  border-radius: 0px 0px 10px 0px;
  position: fixed;
  height: 30px;
  z-index: 1031;
  top: 39px;
  border-color: rgb(229, 229, 229);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#navbar-dec h2 {
  font-size: 25px;
  position: absolute;
  top: -25px;
  left: 95px;
}