body{
	margin:0px;
	height:100%;
	scrollbar-face-color: #6D7477;
	scrollbar-shadow-color: #87919E;
	scrollbar-highlight-color: #6D7477;
	scrollbar-3dlight-color: #87919E;
	scrollbar-darkshadow-color: #6D7477;
	scrollbar-track-color: #6D7477;
	scrollbar-arrow-color: #111D7A;
	scrollbar-base-color: #6D7477;
	font-family: "Trebuchet MS", sans-serif;
	font-size:12pt;
}

.scrollbar{
	scrollbar-face-color: #6D7477;
	scrollbar-shadow-color: #87919E;
	scrollbar-highlight-color: #6D7477;
	scrollbar-3dlight-color: #87919E;
	scrollbar-darkshadow-color: #6D7477;
	scrollbar-track-color: #6D7477;
	scrollbar-arrow-color: #111D7A;
	scrollbar-base-color: #87919E;
}
a {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size:12pt;
	color: #00086C;
}
a:hover {
    color: #DEDD39;
    text-decoration: underline;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin-top:5px; padding:0px; font-size: 1.4em; height: 18px; cursor: move;}
#sortable li div { margin: 0px; width:130px; height:22px; padding: 0px 5px 0px 5px; float: left; overflow: hidden;}
#sortable li div img{ cursor: pointer;}

.modify{
	height: 16px; padding-left: 18px; float:left; cursor:pointer;
	margin:0 2px 0px 2px;
	background: url('../img/modify.gif') no-repeat;	
}

.delete{
	height: 16px; padding-left: 18px; float:left; cursor:pointer;
	margin:0 2px 0px 2px;
	background: url('../img/trash.png') no-repeat;	
}

.dialog{
	font-size:10.5pt;
}

.dialog .error{
	background: url('../img/error.png') no-repeat; padding: 10px 0 0 55px;
	min-height: 50px; min-width: 50px;	
}

.dialog .warning{
	background: url('../img/warning.png') no-repeat; padding: 10px 0 0 55px;
	min-height: 50px; min-width: 50px;	
}

.dialog .info{
	background: url('../img/information.png') no-repeat; padding: 10px 0 0 55px;
	min-height: 50px; min-width: 50px;	
}

.tableCore{
	border: 1px solid #E4E4FD;
}

.pointer{
	cursor: pointer;
}

.calendar{
	width: 22px; height:15px;
	cursor: pointer; vertical-align: bottom;
}

.tableProductPromotions{
	border:0px solid #EFF2F3; margin-left: 0px;
}
.tableProductPromotions th{
	font-family: Candara, Verdana;
	background-color: #EFF2F3; background-image:none; color: #485888;
	border-bottom: 1px solid #485888;
}

.bgGray{
	background-color: #EFF2F3;
	border-color: 1px solid #CCC;
}

#tooltip{
	font-family: Candara, Verdana; font-size:14px;
	position:absolute; display:none;
	border:1px solid #00086D;
	background:#E8E8FD;
	padding:2px 5px;
	color:#00086D;
}	

.loadingOpacity{
	position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	filter: alpha(opacity=80); opacity: .80; 	
	width: 100%; height: 100%; background: #EFF2F3;
}
.loading{
	width:140px; height: 50px; margin:auto; margin-top:20px; margin-bottom:20px; 
	border:1px solid #888; background: #FFF;
}

.loading p{
	background: url("../img/indicator.gif") 10px no-repeat;
	padding-left:20px;
	font-size:14px; text-align:center;
}

.loadingCenter{
	border:1px solid #888; background-color:#FFF;
	position:absolute; width:120px; height: 50px;
	filter: alpha(opacity=100); opacity: 100;
    top: 50%; left: 50%;
    margin-top:-50px; margin-left:-50px;
}
.loadingCenter p{
	background: url("../img/indicator.gif") 10px no-repeat;
	padding-left:20px;
	font-size:14px; text-align:center;
}


TD.negrita{
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
}
TD.title{
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 20pt;
    font-weight: bold;
    color: #000000;
}
.title_b{
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 12pt;
    color: #000000;
}
.buttonOver{
	cursor:hand;cursor:pointer;padding-left:5px;text-align:left;font-weight: bold;padding-top:5px;width:95px;height:25px;color:white;font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;font-size: 9pt;background-size: 100%;background: url(../img/buttonTera2.png) no-repeat;
}

.buttonOut{
	cursor:hand;cursor:pointer;padding-left:5px;text-align:left;font-weight: bold;padding-top:5px;width:95px;height:25px;color:white;font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;font-size: 9pt;background-size: 100%;background: url(../img/buttonTera1.png) no-repeat;
}
TD.title2{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 20pt;  
    font-style:italic;
    color: #3B7A99;
}

.title2_b{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 14pt;  
    font-style:italic;
    color: #0080FF;
}

.title2Menos{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;  
    color: #0080FF;
}
TD.title3{
        font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 18pt;
    font-style:italic;
    color: #000000;
}
.red {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
    color: #FF0000;
}
.title {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 20pt;
    font-style:italic;
    color: #FF0000;
}



TD.menu {
    background-color: #FFFFFF;
    width: 160px;
}

A.menu:link, A.menu:active, A.menu:visited {
    color: #000000;
    text-decoration: none;
}

A.menu:hover {
    color: #808080;
    text-decoration: underline;
}

A.menu {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 11pt
}
span.botonGenerico {
        font-size:14px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        background-color:#ececdc;
        text-align:center;
        border: 1px solid #000000;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonGenericoOver {
        font-size:14px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        background-color:#FFFFFF;
        text-align:center;
        border: 1px solid #000000;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonAgregados {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        text-align:center;
        border: 1px solid #FFFFFF;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonAgregadosOver {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        background-color:#FFFFFF;
        text-align:center;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonModificar {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        text-align:center;
        border: 1px solid #FFFFFF;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonModificarOver {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        background-color:#FFFFFF;
        text-align:center;
        cursor: pointer;
        -moz-border-radius: 20px;
}
span.botonEliminar {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        text-align:center;
        border: 1px solid #FFFFFF;
        cursor: pointer;
        -moz-border-radius: 20px;
}

span.botonEliminarOver {
        font-size:10px;
        font-family:Verdana,Helvetica;
        color: #0c479d;
        background-color:#FFFFFF;
        text-align:center;
        cursor: pointer;
        -moz-border-radius: 20px;
}


.titleCabecera{
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 18pt;  
    font-style:italic;
    color: #3B7A99;
    padding-left:10px;
}
.titlePrincipal{
   font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
   font-size: 20pt;
   font-style:italic;
   color: #0B0B3B;
}
.titlePrincipalHeader{
   font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
   font-size: 18pt;
   color: #FFFFFF;
}


.titlePrincipal2{
   font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
   font-size: 14pt;
   font-style:italic;
   color: #0B0B3B;	
}

.rojo {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 14pt;
    font-style:italic;
    color: #FF0000;
}

.rojoMenos {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 11pt;
    font-style:italic;
    color: #FF0000;
}

.azul {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #0B0B3B;
	text-decoration: none;
    font-weight: normal;
     
}

.azul2 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #0B0B3B;
	text-decoration: none;
    font-weight: bold;
    font-weight: normal;
	border-bottom: 1px solid #E4E4FD;
}
.azul2_over{
	background-color: #BBD2F4;
	color: #0B0B3B;
}

.azul2_over td{
	color: #0B0B3B;
}

.rojo_emarketplace {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #FF0000;
	text-decoration: none;
    font-weight: bold;
}



.azulMenos {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 9pt;
    color: #0B0B3B;
	text-decoration: none;
}

.blanco {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #FFFFFF;
	text-decoration: none;
    font-weight: bold;
}

.azulMas {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 12pt;
    color: #0B0B3B;
	text-decoration: none;
    font-weight: bold;
}

.negro {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
}

.negroFile {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 7pt;
    color: #000000;
    font-weight: bold;
}

.cabecera_tabla_antiguo {
   background: #C8D2F0;
}

.tabla_normal {
   border: #C8D2F0;
   padding:0;
   border-style:solid;
}

.cabecera_tabla {
    font-size:14px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #9999CC;
    white-space: nowrap;
    
}
.cabecera_tablaAux {
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #5189A4;
    white-space: nowrap;
    
}

.cabecera_tablaAux_Over {
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #BBD2F4;
    white-space: nowrap;    
} 
.cabecera_tablaGreen {
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #7EC242;
    white-space: nowrap;
    
}
.cabecera_tablaBlueCel {
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #51C6D9;
    white-space: nowrap;
    
}

.texto_normal {
   font-family: Helvetica;
   color: #82A0C8;
   font-size:10px
}

.celda_normal {

   font-family: Helvetica;
   color: #003A90;
   font-size:10px
}

div#tbl-container {
    width: 100%;
    height: 200px;
    overflow: auto;
    background:#EDF4F8;
     scrollbar-face-color: #F2F5F9;
     scrollbar-shadow-color: #6782BE;
     scrollbar-highlight-color: #F2F5F9;
     scrollbar-3dlight-color: #6782BE;
     scrollbar-darkshadow-color: #F2F5F9;
     scrollbar-track-color: #F2F5F9;
     scrollbar-arrow-color: #111D7A;
     scrollbar-base-color: #6782BE;
}

div#tbl-container table th {
width: 100px;
}




thead th.locked {z-index: 2;}

td.locked,  th.locked{
background-color: #ffeaff;
font-weight: bold;

left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
position: relative;
z-index: 10;
}


.verde {
        font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: #A9C71D;
        text-decoration: none;
    font-weight: bold;
}

.copyright{
    font-family:  Verdana;
    font-size: 7pt;
    color: #A9C71D;
    font-style:italic;
        font-weight: bold;
}

.menuMain{
    font-family: Sans-Serif;
    font-size: 10pt;
    color: #ffffff;  
}

.menuOpcion{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 8pt;
    color: #00086D;
    text-decoration: none;
    font-weight: bold;
}
.serviceRelationship{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;  
    font-style:italic;
    color: #0080FF;	
}

.serviceRelationshipRed{
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10pt;  
    font-style:italic;
    color: #FF0000;	
}

.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:2px; background:#DEDD39; margin:0 5px;}
.b2 {height:2px; background:#DEDD39; border-right:3px solid #DEDD39; border-left:3px solid #DEDD39; margin:0 3px;}
.b3 {height:2px; background:#DEDD39; border-right:3px solid #DEDD39; border-left:3px solid #DEDD39; margin:0 2px;}
.b4 {height:2px; background:#DEDD39; border-right:3px solid #DEDD39; border-left:3px solid #DEDD39; margin:0 1px;}
.contentb {background: #DEDD39; border-right:3px solid #DEDD39; border-left:3px solid #DEDD39;border-bottom:3px solid #DEDD39;}
.contentb div {margin-left: 1px;}



A:link.enlace {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    }
A:visited.enlace {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    }
A:hover.enlace {text-decoration:underline;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #85C441;
    }
A:active.enlace {text-decoration:underline;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    } 
    
A:link.enlace2 {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #749514; 
    background-color:#ffffff;
    }
A:visited.enlace2 {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #749514;    
    }
A:hover.enlace2 {text-decoration:underline;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #749514;     
    }
A:active.enlace2 {text-decoration:underline;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #749514;     
    }     
    
A:link.enlaceLogout {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    text-decoration: none;
    }
A:visited.enlaceLogout {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    text-decoration: none;
    }
A:hover.enlaceLogout {text-decoration:underline;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #46B7CD;
    
    }
A:active.enlaceLogout {text-decoration:none;     font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00527A;
    text-decoration: none;
    }    
     #liquid-round {
	width: 70%;
	margin: 0px auto;
	background: #fff url(http://www.search-this.com/rounded/leftside.gif)
		repeat-y left top;
}

.top {
	width: 100%;
	height: 20px;
	background: url(http://www.search-this.com/rounded/top.gif) no-repeat
		left top;
}

.top span {
	display: block;
	position: relative;
	height: 20px;
	background: url(http://www.search-this.com/rounded/top-right.gif)
		no-repeat right top;
}

.center-content {
	position: relative;
	background: url(http://www.search-this.com/rounded/rightside.gif)
		repeat-y right top;
	padding: 1px 5px 1px 5px;
	margin: -1px 0 -5px 0;
}

.bottom {
	height: 60px;
	background: url(http://www.search-this.com/rounded/bottom.gif) no-repeat
		left bottom;
}

.bottom span {
	display: block;
	position: relative;
	height: 60px;
	background: url(http://www.search-this.com/rounded/bottom-right.gif)
		no-repeat right top;
}

/* all curved boxes get the bottom-left corner */
div.rounded {

}
.roundedJ{
	background-color:#00344E;
}

/* all elements in 'div.rounded' gets the B-R corner */
div.rounded * {
  background: #DEDD39 url(img/br_18_dedd39_00086d.gif) no-repeat bottom right;


  color: #000000;
  height:auto;
}

/* Scrub that B-R corner from all elements *2+* levels deep*/
div.rounded * * {
  padding: 0;
  margin: 5;
  background: none;
  color: #000000;
  height:auto
}

/* Set up some H's as 'box heads' with the T-R and T-L corners */
div.rounded span{
  color: #000000;
  background: #DEDD39 url(img/tr_18_dedd39_00086d.gif) no-repeat top right;

  display: list-item;

  list-style-position: inside;
  list-style-type:none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-top:5px;

}

/* all curved boxes get the bottom-left corner */
div.roundedPrincipal {
  background: #DEDD39 url(img/bluesStrong/down_left.png) no-repeat bottom left;
  color: #333333;
  position: relative;
  padding-top: 0;
  padding-bottom: 18px;
  margin: 1em 10px 0 0 ;
  background-color:#00086D;
  z-index:100;
}

/* all elements in 'div.rounded' gets the B-R corner */
span.roundedPrincipal  {
  background: #DEDD39 url(img/bluesStrong/down_right.png) no-repeat bottom right;
  color: #333333;
  background-color:#00086D;
  margin: 0 0 -5px 5px;
  align:right;
     position: relative;
    vertical-align:bottom; 
    float:right;
    v-align:bottom;
    margin-bottom:-18px;
    
}

/* Scrub that B-R corner from all elements *2+* levels deep*/
div.roundedPrincipal * * {
  padding: 0;
  margin: 0;
  background: none;
  color: #333333;
  height:auto
  background-color:black;
}

/* Set up some H's as 'box heads' with the T-R and T-L corners */
div.roundedPrincipal h1, div.roundedPrincipal h4 {
  color: #00086d;
  background: #DEDD39 url(img/bluesStrong/top_right.png) no-repeat top right;
  display: list-item;
  list-style-image: url(img/bluesStrong/top_left.png);
  list-style-position: inside;
  list-style-type:none;
  padding: 0;
  margin: 0;
  position: relative;
  background-color:#00086d;
  height: 10px;
}

div.roundedPrincipal h1 {
  font-size: 0px;
}
div.roundedPrincipal h4 {
  font-size: 0px;
}
a.boldbuttons{
background: transparent url('img/buttons/rounded_blue_left.gif') no-repeat top left;
display: block;
float: left;
font: bold 13px Arial; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 30px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;

}

a:link.boldbuttons, a:visited.boldbuttons, a:hover.boldbuttons, a:active.boldbuttons{
color: white; /*button text color*/
}

a.boldbuttons span{
background: transparent url('img/buttons/rounded_blue_right.gif') no-repeat top right;
display: block;
padding: 4px 10px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
}

a:hover.boldbuttons{ /* Hover state CSS */
text-decoration: underline;
}


.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}

a.button {
    /* Sliding right image */
    background: transparent url('img/buttons/verde/right.png') no-repeat scroll top right; 
display: block;
float: left;
height: 35px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
margin-right: 6px;
padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
/* FONT PROPERTIES */
text-decoration: none;
color: #000066;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}
a.button span {
/* Background left image */ 
background: transparent url('img/buttons/verde/left.png') no-repeat; 
display: block;
line-height: 22px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
padding: 7px 0 5px 18px;
} 
a.button:hover span{
text-decoration:underline;
color:#ffffff;
}




/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.squarebutton{
background: transparent url('img/buttons/azulclaro2/left.gif') no-repeat top left;
display: block;
float: left;
font: normal 12px Arial; /* Change 12px as desired */
line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
height: 23px; /* Height of button background height */
padding-left: 9px; /* Width of left menu image */
text-decoration: none;
}

a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{
color: #494949; /*button text color*/
}

a.squarebutton span{
background: transparent url('img/buttons/azulclaro2/right.gif') no-repeat top right;
display: block;
padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.squarebutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.squarebutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}


th {
   font-weight:bold;
   white-space: nowrap;
}
    
.cab {
        color:brown;
        background-image:url('img/buttons/azulclaro2/fondoHeader.GIF');
        background-repeat:repeat-x;
        margin: 0;
        color:#000066;
	   font-size:14px;
	   font-weight:bold;
	   white-space: nowrap;        
}    

.formTittle1{
	font-size: 14px;color:#000066; font-family: Candara;
}
.formTittle2{
	font-size: 14px;color:#485888; font-family: Candara;
}

.formInput1{
	border: solid #D9D9D9 1px; background-color: white; font-size: 13px;color:#000066; font-family: Candara;
}
.formInputDisabled{
	border: solid #D9D9D9 1px; background-color: #CCC; font-size: 13px;color:#000066; font-family: Candara;
}

.formFont1{
	font-size: 14px;color:#000066; font-family: Candara;
}

.trChecked{
	background-color:#ff9933;
	text-decoration:underline;     
	font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #749514;
}
	
.trUnchecked{
	background-color:#F2F5F9;
	text-decoration:none;     
	font-family: "Segoe UI",Candara;
    font-size: 9pt;
    color: #00086D;
}
#mousePositions{
	border:solid #000066 1px;
    background-color:#FCFCFC;
	color: #0B0B3B;
	font-family: Candara;
	font-size:13px;
	height:100px;
	overflow:auto;
	width:400px;
}

.wise_select_main
{
}
.wise_select_holder {
	border: solid #D9D9D9 1px; background-color: white; font-size: 13px;color:#000066; font-family: Candara;
	display: block;
	height: 20px;
	width: 300px;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 15px;
	cursor: pointer;
	background: url('../img/down_icon.gif') no-repeat;
	background-position: right center;
}
.wise_select_list
{
	width: 300px;
	max-height: 300px;
	_max-height: 300px;
	min-width: 100px;
	_min-width: 100px;
	overflow-y: scroll;
	z-index:100;
	position: absolute;
	margin-top: -1px; 
	border: solid #D9D9D9 1px; background-color: white; font-size: 12px;color:#000066; font-family: Candara;
}
.wise_select_list ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.wise_select_list ul li
{
	padding-left: 15px;
	list-style-type: none;
	
	margin: 0;
	cursor: pointer;
}
li.wise_select_list_item_hover
{
	padding-left: 20px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: red;
}
li.wise_select_list_item_selected
{
	background: url('../img/checkmark.gif');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	list-style-type: none;
	
	margin: 0;
	cursor: pointer;
	
}

.combo {
    float:left;
}

.clock {
    display:block;
    cursor:pointer;
    float:left;
    margin-left:2px;
}

#sliderWrap {
    position:absolute;
    z-index:100;
    top:30px;
    left:40px;
    background:#fff;
    border:1px solid #ccc;
    display:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    _padding-top:10px; /* IE */
}

#sliderWrap label {
    display:block;
    font-size:11px;
    font-family:sans-serif;
}

#sliderWrap p {
    font-size:70%;
}

.auto {
    width:250px;
    padding-right:10px;
}

.auto div {
    width:100%;
}

.auto label {
    float:left;
    text-align:right;
    height:20px;
    width:0px;
    padding-left:0px;
}

.auto p {
    margin-left:30px;
}

.auto p .ui-slider-range {
    _font-size: .5em; /* IE */
}

.vertical {
    width:100px;
    padding-left:5px;
    padding-bottom:10px;
}

.vertical div {
    width:33%;
    float:left;
    height:100%;
}

.vertical label {
    text-align:center;
    padding-bottom:8px;
}

.vertical p {
    height:130px;
    margin:0 auto;
    _margin-left:7px; /* IE */
}

.vertical p .ui-slider-handle {
    _margin-bottom: -.4em; /* IE */
}
#timepicker {
    position:relative;
    float:left;
}

#wrap {
    color: #404040;
    margin: 20px 40px;
}